@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *:before, *:after {
  box-sizing: inherit; 

}

body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

.banner {
  position: relative;
  height: 100vh;
  background: url("http://placehold.it/1200x1125") no-repeat center top;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}

.banner-items {
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF;
}

.nav-item {
  text-decoration: none;
  margin-bottom: 1em;
  margin-top: 1.25em;
  border: 2px solid #0B8599;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-decoration: none; 
  display:inline-block;
  font-weight: lighter; 
  color: #0B8599;
  background-color: transparent; 
  letter-spacing: 1.5px;
}

.main {
  z-index: 1;
}

.title {
  color: #4C4C4C;
}

.down-button-wrapper {
  height: 2em;
  width: 2em;
  left: calc( 50% - 10px );
  position: relative;
}

.down-button {
  background-image: url(../images/white-arrow.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 2em;
  position: absolute;
}

.lets-connect {
  margin: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: #0B8599;
  font-weight: lighter;
  width: 100%
}

.social-media {
  margin: 0;
  padding: 0;
  height: 12em;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  bottom: 0;
}

.facebook {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 8em;
  background-image: url(../images/facebook.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.vimeo {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 8em;
  background-image: url(../images/vimeo.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

.behance {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 8em;
  background-image: url(../images/behance.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
}

@media only screen and (min-width: 38em){
  
  .social-media {
    position: absolute;
    width: 33%;
    right: 10%;
    bottom: 0;
    height: 3.25em;
  }
  
  .social-media h2 {
    display: none;
  }
  
}

@media only screen and (min-width: 60em){
  
  .nav-item {
    left: 0;
    margin: 1em;
    width: 12em;
  }
  
  .social-media {
    top: 10px;
    right: 1em;
    width: 12%;
    z-index: 1;
    background-color: white;
  }
}
