@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *:before, *:after {
  box-sizing: inherit;  
}

body {
  font-family: 'Oxygen', sans-serif;
}

.banner {
  position: relative;
  height: 100vh;
  background: url("http://placehold.it/1200x1125") no-repeat center top;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}

.banner-items {
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #AD855C;
}

.nav-item {
  text-decoration: none;
  margin-bottom: 1rem;
  margin-top: 0.5em;
  border: 2px solid white;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-decoration: none; 
  display:inline-block;
  font-weight: lighter; 
  color: #FFFFFF;
  background-color: transparent; 
  letter-spacing: 1.5px;
}

.main {
  z-index: 1;
}

.buttons {
  margin: 0;
  width: 100vw;
  list-style-type: none;
  padding: 0;
}

.facebook {
  width: auto;
  height: 4em;
  background-image: url("http://placehold.it/100x100");
  background-repeat: no-repeat;
  display: inline-block;
}

.vimeo {
  width: auto;
  height: 4em;
  background-image: url("http://placehold.it/100x100");
  background-repeat: no-repeat;
  display: inline-block;
}

.instagram {
  width: auto;
  height: 4em;
  background-image: url("http://placehold.it/100x100");
  background-repeat: no-repeat;
  display: inline-block;
}

.behance {
  width: auto;
  height: 4em;
  background-image: url("http://placehold.it/100x100");
  background-repeat: no-repeat;
  display: inline-block;
}