@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *:before, *:after {
  box-sizing: inherit; 

}

body {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  padding: 0.5em 0.75em;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.banner {
  height: 30em;
  background: url(../images/billboard.jpg) no-repeat 27% top;
  min-height: 50vh;
  background-size: cover;
  padding: 0;
  overflow: hidden;
  z-index: 2;
}

.banner-items {
  float: right;
  top: 200px;
  width: 100%;
}

.banner-items p {
  margin-top: 15em;
  padding: 1.5em;
  position: absolute;
  line-height: 22px;
  font-weight: lighter;
  max-width: 30em;
  color: #FFF;
  background-color: rgba(11, 133, 153, 0.6);
}

.nav {
  z-index: 1;
  position: absolute;
  padding: 0;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF;
}

.nav-item {
  text-decoration: none;
  margin-bottom: 1.5em;
  margin-top: 12em;
  border: 2px solid #0B8599;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1em 2.5em;
  text-decoration: none; 
  display: inline-block;
  font-weight: lighter; 
  color: #0B8599;
  background-color: transparent; 
  letter-spacing: 1.5px;
  transition: all 600ms ease-in-out;
}

.nav a:hover,
.current {
  background-color: rgba(11, 133, 153, 0.9);
  color: #FFF;
}

.jaz {
  width: 10em;
  padding-top: 1.25em;
  left: calc( 50% - 5em );
  margin: auto;
  position: absolute;
  padding-top: 0.25em;
  color: #0B8599;
  margin-top: 0.75em;
}

.main {
  z-index: 1;
}

.title {
  color: #4C4C4C;
}

.soc-med-icons {
  height: 110px;
  width: 340px;
  left: calc((100% - 287px) / 2);
  position: relative;
  list-style-type: none;
  z-index: 1;
  display: block;
  margin: auto;
  padding: 5%;
}

.facebook {
  height: 3em;
  margin-right: 1em;
  background-image: url(../images/facebook-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.behance {
  height: 3em;
  background-image: url(../images/behance-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.vimeo {
  height: 3em;
  margin-left: 1em;
  background-image: url(../images/vimeo-1.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.queen-b-link {
  text-decoration: none;
  color: #0B8599;
  font-weight: bolder;
}

.port-title {
  color: #0B8599;
  text-transform: uppercase;
  padding-top: 4.5em;
  text-align: center;
}

.portfolio-intro {
  left: 2em;
  margin: 1em;
  padding: 5%;
  padding-top: 3em;
  text-align: center;
  color: #808080;
}

.port-div {
  position: relative;
  left: 0;
  top: 0;
}

.port-box {
  width: 100%;
  position: relative;
  top: 0;
  left:0;
}

.port-box-hover {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 300ms linear;
}

.port-box-hover:hover {
  opacity: 1;
}

.port-squares {
  padding: 1em;
  display: block;
  text-align: center;
}

.port-text {
  padding: 1rem;
  display: block;
  background-color: #333333;
  color: #0B8599;
  display: none;
}

.portrait-img {
  width: 100%;
  overflow: hidden;
}

.portrait {
  margin-top: 8em;
}

footer {
  height: 5em;
}

.footer-nav {
  padding: 0;
  padding-top; 10em;
  display: block;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.footer-nav a {
  margin: 3em 1em;
}

.footer-nav-item {
  width: 4em;
  margin: 1em;
  text-decoration: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: lighter; 
  color: #0B8599;
  background-color: transparent; 
  letter-spacing: 1.5px;
}

.whoami-info {
  position: relative;
  padding: 2em 1.5em 5em;
  display: inline-block;
  top: 6em;
}

.whoami-type {
  margin-bottom: 5em;
  padding: 5%;
  color: #8C8C8C;
}

.whoami-type h2 {
  color: #0B8599;
}

.email {
  font-weight: bolder;
  text-decoration: none;
  color: #0B8599;
}

.portrait-wrapper {
  width: 5em;
  background-image: url(../images/portrait.jpg) center center;
  background-size: contain;
}

.portrait-who {
  margin-top: 8em;
  width: 100%;
  height: auto;
}

@-webkit-keyframes appear {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes appear {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@media only screen and (min-width: 38em){
  
  .jaz {
    left: 1.5em;
    width: 7em;
  }
  
  .nav-item {
    margin-bottom: 2em;
    margin-top: 14em;
  }
  
  .soc-med-icons {
    left: 0;
    padding-bottom: 2em;
  }
  
  .nav-item {
    right: 1em;
    margin-right: 1em;
    margin-top: 2em;
    padding-right: 3em;
  }
  
  .nav {
    text-align: right;
  }
  
  .footer-nav {
    text-align: right;
    padding-right: 2em;
  }
  
  .portrait-who {
    margin-top: 3em;
  }
  
  .f-b-v {
    position: relative;
    bottom: 5em;
  }
  
}

@media only screen and (min-width: 60em){
  
  .nav-item {
    left: 0;
    margin: 2em;
    width: 12em;
  }
  
  .soc-med-icons {
    margin-bottom: 3em;
    left: 1.5em;
  }
  
  .footer-nav {
   bottom: 4em;
  }
  
  .portfolio-intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}
