<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
  <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
</head>  
<body>
  
  <nav class="grid">
    <ol class="nav">
      <a href="index.html" class="{% if page.url == '/index.html' %}current{% endif %}"><h1 class="jaz unit">jaz down</h1></a>
      <li class="unit unit-xs-1-2 unit-m-1-4 unit-l-1-6"><a href="portfolio.html" class="nav-item {% if page.url == '/portfolio.html' %}current{% endif %}">portfolio</a></li>
      <li class="unit unit-xs-1-2 unit-m-1-4 unit-l-1-6"><a href="whoami.html" class="nav-item {% if page.url == '/whoami.html' %}current{% endif %}">who am i?</a></li>
    </ol>
  </nav>
  
  {{content}}
  
  <footer>
    <ul class="footer-nav">
      <a href="portfolio.html" class="footer-nav-item"><li>portfolio</li></a>
      <a href="whoami.html" class="footer-nav-item"><li>who am i?</li></a>
    </ul>
    <div>
      <div class="soc-med-icons grid">
        <a href="https://www.facebook.com/jasmine.down.37" class="facebook unit unit-xs-1-4"></a>
        <a href="https://www.behance.net/jazdown" class="behance unit unit-xs-1-4"></a>
        <a href="https://vimeo.com/user36330205" class="vimeo unit unit-xs-1-4"></a>
      </div>
  </div>
  </footer>
